In [1]:
import pandas as pd

### Importando os dados de exportação de vinhos

In [17]:
expVinho = pd.read_csv("data/ExpVinho.csv", sep=";", thousands=".", decimal=",")
expVinho.head()

,Id,País,1970,1970.1,1971,1971.1,1972,1972.1,1973,1973.1,...,2019,2019.1,2020,2020.1,2021,2021.1,2022,2022.1,2023,2023.1
0,1,Afeganistão,0,0,0,0,0,0,0,0,...,0,0,0,0,11,46,0,0,0,0
1,2,África do Sul,0,0,0,0,0,0,0,0,...,26,95,4,21,0,0,0,0,117,698
2,3,"Alemanha, República Democrática",0,0,0,0,4168,2630,12000,8250,...,3660,25467,6261,32605,2698,6741,7630,45367,4806,31853
3,4,Angola,0,0,0,0,0,0,0,0,...,345,1065,0,0,0,0,4068,4761,0,0
4,5,Anguilla,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Criando o Dataframe de valores em Litros

In [38]:
expVinhoLitros = pd.concat([expVinho["País"], expVinho[expVinho.iloc[:,0::2].columns]], axis=1)
expVinhoLitros.head()

,País,Id,1970,1971,1972,1973,1974,1975,1976,1977,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Afeganistão,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,11,0,0
1,África do Sul,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,26,4,0,0,117
2,"Alemanha, República Democrática",3,0,0,4168,12000,0,0,0,0,...,213348,10680,14012,15467,10794,3660,6261,2698,7630,4806
3,Angola,4,0,0,0,0,0,0,0,0,...,12182,1908,7359,10170,477,345,0,0,4068,0
4,Anguilla,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Criando o Dataframe de valores em USS

In [44]:
expVinhoValor = expVinho.iloc[:,1::2]
expVinhoValor.columns = expVinhoValor.columns.str[0:4]
expVinhoValor.head()

,País,1970,1971,1972,1973,1974,1975,1976,1977,1978,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Afeganistão,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,46,0,0
1,África do Sul,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,95,21,0,0,698
2,"Alemanha, República Democrática",0,0,2630,8250,0,0,0,0,0,...,761653,44780,68109,87702,45382,25467,32605,6741,45367,31853
3,Angola,0,0,0,0,0,0,0,0,0,...,23124,17089,35390,61680,709,1065,0,0,4761,0
4,Anguilla,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0